<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      let a = [1, 2, 3, 4, 4]
      console.log(a)
      // for (let i = 0; i <= a.length; i++) {
      //   if ((value = 2)) {
      //     console.log(2)
      //     return true
      //   }
      // }
      // a.forEach(function (value, key, it) {
      //   console.log(value)
      //   console.log(it)
      // })
      // a.some(function (v, k, it) {
      //   console.log(v)
      //   if (v === 2) {
      //     return true
      //   }
      // })
      // let result = a.every(function (v, k, it) {
      //   v = 1
      // })
      // console.log(result)
      // let result1 = a.filter(function (v, k, it) {
      //   return v > 3
      // })
      // console.log(result1)
    </script>
  </body>
</html>
